html,body{
  width: 100%;
}
html{
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  text-align: left;
  overflow: hidden;
}

.clearfix{
  zoom: 1;
}

.clearfix:after,.clearfix:before{
  content: '';
  display: table;
  clear: both;
}

/* variables */
$navBkColor: rgba(255,255,255,1);
$navFontColor: #272636;

/* mixins */
@mixin stretch($pos,$t,$r,$b,$l){
  position: $pos;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

.nav-panel,.container,.bottom-nav,.top-nav{min-width:300px;}

.nav-panel,.bottom-nav{
  box-shadow: 0 0 4px rgba(0,0,0,.2);
}

.top-nav{
  box-shadow: 0 0 4px rgba(0,0,0,.2);
}

.container{
  padding: 5px 0;
}

.article-action-mid {
  @include stretch(fixed,30%,inherit,inherit,inherit);
  z-index: 1002;
  width: 100%;
  height: 40%;
}

.icon-back,.icon-catalog,.icon-pageStyle,.mod-day,.mod-night{
  background: url(../images/sprite_base.png) no-repeat;
}

/* 顶部导航 */
.top-nav{
  @include stretch(fixed,-1px,0,inherit,0);
  height: 50px;
  width: 100%;
  z-index: 1000;
  background: $navBkColor;

  @at-root{

    .icon-back{
      @include stretch(absolute,50%,inherit,inherit,12px);
      margin: -12px 0 0 0;
      width: 22px;
      height: 22px;
      background-position: -302.5px -138.5px;
      background-size: 412.5px 160.5px;
    }

    .nav-title{
      @include stretch(absolute,50%,inherit,inherit,42px);
      height: 24px;
      margin: -12px 0 0 0;
      line-height: 24px;
      color: $navFontColor;
    }

  }

}

/* 底部导航 */
.bottom-nav{
  @include stretch(fixed,inherit,0,-1px,0);
  height: 60px;
  width: 100%;
  z-index: 1001;
  color: $navFontColor;
  font-size: 12px;
  text-align: center;
  background: $navBkColor;

  @at-root{

    .catalog{
      width: 33.3%;
      height: 60px;
      float: left;
      padding: 11px 0 0 0;

      @at-root{

        .icon-catalog{
          width: 22px;
          height: 22px;
          margin: -2px auto 4px auto;
          background-position: -331.5px -138.5px;
          background-size: 412.5px 160.5px;
        }

        .icon-catalog.active {
          background-position: -361px -138.5px;
          background-size:412.5px 160.5px;
        }

        .text-catalog.active{
          color: #FF6B00;
        }

        .icon-pageStyle{
          @extend .icon-catalog;
          background-position: -243.5px -138.5px;
          background-size: 412.5px 160.5px;
        }

        .icon-pageStyle.active{
          background-position: -273px -138.5px;
          background-size: 412.5px 160.5px;
        }

        .text-pageStyle.active{
          color: #FF6B00;
        }

      }
    }

    .pageStyle{
      @extend .catalog;
    }

    .mod{
      @extend .catalog;

      @at-root{

        .mod-day{
          display: block;
          .icon-mod-day{
            @extend .icon-catalog;
            background-position: -390.5px -138.5px;
            background-size:412.5px 160.5px;
          }
        }

        .mod-night{
          display: none;
          .icon-mod-night{
            @extend .icon-catalog;
            background-position: -214px -138.5px;
            background-size:412.5px 160.5px;
          }
        }

      }
    }

  }
}

/* 样式控制面板 */
.nav-panel {
  display: none;
  @include stretch(fixed,inherit,inherit,58px,inherit);
  width: 100%;
  z-index: 3000;
  color: $navFontColor;
  background: #f1f1f1;

  @at-root{

    .child-mod{
      background: #ffffff;
      border: 1px solid #d8d8d8;
      padding: 15px;
      margin: 15px 1rem;
      color: $navFontColor;

      @media screen and(max-width: 370px) {
        margin: 15px 0.3rem;
      }

      span{
        display: inline-block;
        padding: 0 30px 0 10px;
        float: left;
        line-height: 2.2;

         @media screen and(max-width: 370px) {
          padding: 0 12px;
         }
      }

      @at-root{

        .font-size-button{
          background: none;
          display: inline-block;
          padding: 5px 20px;
          float: left;
          width: 9.5%;
          text-align: center;
          cursor: pointer;

          @media screen and(max-width: 370px) {
            padding: 5px 25px;
          }

          &:last-child{
            margin: 0;
          }

          &:nth-of-type(1){
            font-size: 22px;
          }

          &:nth-of-type(2){
            font-size: 18px;
          }

          &:nth-of-type(3){
            font-size: 12px;
          }
        }

        .font-size-button.current{
          color: #FF6B00;
        }

        .bk-wrapper{
          width: 13%;
          float: left;
        }

        .bk_container{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #d2d2d2;
          display: inline-block;
          position: relative;
          vertical-align: middle;
          margin-right: 0.8rem;

          @media screen and(max-width: 370px) {
             margin-right: 0.5rem;
          }

          &:last-child{
            margin: 0;
          }

        }

        .bk-container-current{
          @include stretch(absolute,-3px,inherit,inherit,-3px);
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 2px solid #FF6B00;
        }

        .bk_container.white{
          background: #ffffff;
        }

        .bk_container.yellow{
          background: #FFF1D6;
        }

        .bk_container.brown{
          background: #ECD6AF;
        }

        .bk_container.green{
          background: #D4ECD2;
        }

        .bk_container.mazarine{
          background: #19354B;
        }

        .bk_container.black{
          background: #3F443E;
        }

      }

    }

  }

}

/* 章节目录 */
.chapter_catalog_panel{

  display: none;
  @extend .nav-panel;
  box-sizing: border-box;
  height: 240px;
  padding: 10px 25px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  li{
    padding: 10px 5px;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:last-child{
      border: none;
    }
  }

}


/* 主题内容 */
.m-read-content{

  font-size: 14px;
  color: #222222;
  line-height: 31px;
  padding: 15px;

  h4{
    font-size: 20px;
    color: #736357;
    border-bottom: 1px solid #736357;
    letter-spacing: 2px;
    margin: 0 0 1em 0;
  }

  p{
    text-indent: 2em;
    margin: 0.5em 0;
    letter-spacing: 0px;
    line-height: 24px;
  }

  @at-root{

    .m-button-bar{
      width: 100%;
      max-width: 600px;
      padding: 5px;
      margin: 0 auto;
      text-align: center;

      span{
        font-size: 14px;
        padding: 0 15px;
      }

      @at-root{

        .u-tab{
          min-height: 34px;
          margin: 10px auto;
          line-height: 34px;
          font-size: 12px;
          background: none !important;
          opacity: 0.9;

          li{
            display: inline-block;
            width: 22%;
            text-align: center;
            border-radius: 5px;
            border: 1px solid #222;
            color: #222;
            font-size: 12px !important;
          }
        }

      }

    }

  }

}



/* loading */
.loading{
  display: none;
  @include stretch(fixed,0,inherit,inherit,0);
  width: 100%;
  height: 100%;
  z-index: 4000;
  background: rgba(0,0,0,0.7);
}

.spinner{
  @include stretch(absolute,50%,inherit,inherit,50%);
  margin: -30px 0 0 -50px;
  width: 100px;
  height: 60px;
  text-align: center;
  font-size: 10px;

  > div{
    opacity: 0.7;
    background-color: #fff;
    height: 100%;
    width: 6px;
    margin-right: 4px;
    display: inline-block;
    -webkit-animation: stretchdelay 1s infinite ease-in-out;
    animation: stretchdelay 1s infinite ease-in-out;

    &:last-child{
      margin: 0;
    }
  }

  .rect2{
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .rect3{
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  .rect4{
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }

  .rect5{
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
}

.catalog-spinner{
  display: none;
  @extend .spinner;
  > div{
    background-color: #666666 !important;
  }
}

@-webkit-keyframes stretchdelay{
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay{
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.popUpBox{
  @include stretch(fixed,0,0,0,0);
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  z-index: 5000;

  > div {
     @include stretch(absolute,50%,auto,auto,50%);
     margin-left: -100px;
     width: 200px;
     min-height: 40px;
     box-sizing: border-box;
     padding: 10px;
     color: #777;
     text-align: center;
     font-size: 14px;
     height: auto;
     background: #fff;
     transform: translateY(-50%);
     border-radius: 6px;
  }
}



